$cor: "#f0f8ff";
//paleta de cores da foto escolhida
$gondola: #201211;
$pale-slate: #ccc8c9;
$spicy-mix: #80593e;
$beaver: #8d6b55;
$quincy: #5c3529;
$pine-cone: #756256;
$sandal: #a78b73;
$natural-gray: #97908b;
$zorba: #a7988f;
$astral: #3c84a4;

html{
    scroll-behavior:smooth;//faz a rolagem da pagina ficar suave
}

body{//alinhando os itens com flex
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $pale-slate;

    *p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: left;
        text-indent: 2em;
    }
}

nav,header{//fixei o nav na pagina
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    z-index: 1000;
    background-color: $astral;

    h2{
        color: $quincy;
        margin-left: 20px;
        display: inline-block;
        flex: 40%;
    }

    ul{
        display: inline-block;
        a{
            margin-right: 5px;
            margin-left: 5px;
            padding: 10px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: large;
            color: $pale-slate;

            &:hover{//faz os links de navegação ficarem com uma borda superior ao passar o mouse
                border-top: 2px solid $quincy;
            }
        }
    }
}


main{
    font-size: 1.5rem;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    background-color: $pale-slate;

    #inicio{
        display: flex;
        margin-top: 100px;
        height: 100%;
        align-items: center;
        justify-content: center;
        .headline{
            flex: 50%;
            color: $spicy-mix;
            h1{
                color: $quincy;
                margin-top: -20px;
                font-size: 5rem;
            }
            p{
                text-indent: 2em;
                text-align: justify;
                padding: 20px;
            }
            a{
                text-decoration: none;
                color: $astral;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .imagem{
            flex: 40%;
            height: 100%;
            img{
                margin: 50px 0 50px 0;
                border-radius: 50%;
                width: 80%;
                height: 80%;
            }
        }
    }
    #sobre{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        height: 100%;
        align-items: center;
        justify-content: center;
        h2{
            color: $gondola;
            font-size: 3rem;
            margin-bottom: 70px;
            text-transform: uppercase;
        }
        p{
            color: $spicy-mix;
            width: 80%;
            padding: 20px;
        }
    }

    #projetos{//ajustando a seção projetos
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 150px;
        height: 100%;
        p{
            color: $spicy-mix;
            width: 80%;
            padding: 20px;
        }

        h2{
            color: $gondola;
            font-size: 3rem;
            margin-bottom: 70px;
            text-transform: uppercase;
        }

        .projeto{//essa é a configuração padrão dos projetos
            width: 50%;
            margin: auto;
            margin-top: 5%;
            padding: 10px 0 0 0;
            background-color: $natural-gray;
            border-radius: 5px;

            h3{
                color: $quincy;
            }

            p{
                padding: 20px;
                color: $spicy-mix;
            }

            a{
                color: $pine-cone;
            }
        }
    }

    #contato{
        display: flex;
        flex-direction: column;
        color: $gondola;
        margin-top: 100px;
        margin-bottom: 70px;
        align-items: center;
        justify-content: center;

        h3{
            text-transform: uppercase;
        }
        p{
            color: $spicy-mix;
            width: 80%;
            padding: 20px;
        }
        #links{
            a{
                padding: 10px;
                text-decoration: none;
            }
            a:hover{
                border: 1px solid black;
            }
        }
        #email{
            color: $astral;
        }
        #email:hover{
            text-decoration: underline;
        }
    }
}

.rodape{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, $gondola, $quincy);
    color: $pale-slate;
}

//esse foi a estilização do site