$cor: #f0f8ff;
$c2: #252734;
$c3: #2A2C39;
$borda: #3B3D49;
$fonte:#7D7F8A;
/*paleta de cores da foto escolhida
$gondola: #201211;
$pale-slate: #ccc8c9;
$spicy-mix: #80593e;
$beaver: #8d6b55;
$quincy: #5c3529;
$pine-cone: #756256;
$sandal: #a78b73;
$natural-gray: #97908b;
$zorba: #a7988f;*/
$astral: #3c84a4;

html{
    scroll-behavior:smooth;//faz a rolagem da pagina ficar suave
}

body{//alinhando os itens com flex
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $pale-slate;
    *h1,h2,h3,h4{
        color:#fff;
        text-transform: uppercase;
    }
    *p{
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        text-indent: 2em;
        color: $fonte
    }
}

nav,header{//fixei o nav na pagina
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    z-index: 1000;
    background-color:$c2;
    h2{
        margin-left: 20px;
        display: inline-block;
        flex: 40%;
    }
    ul{
        display: flex;
        li{
            list-style-type: none;
            a{
                margin-right: 5px;
                margin-left: 5px;
                padding: 10px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: large;
                color: $fonte;
                &:hover{
                    color: $pale-slate;
                }
            }
        }
        #contact{
            color: $fonte;
            border: 1px solid $borda;
            border-radius: 10px;
            &:hover{
                background-color: $c3;
                color: #fff;
            }
        }
    }
}


main{
    font-size: 1.5rem;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    background-color: $c2;
    #inicio{
        display: flex;
        margin-top: 100px;
        height: 100%;
        align-items: center;
        justify-content: center;
        .headline{
            flex: 50%;
            h1{
                margin-top: -20px;
                font-size: 5rem;
                text-transform: none;
            }
            p{
                text-indent: 2em;
                text-align: justify;
                padding: 20px;
            }
            a{
                text-decoration: none;
                color: $astral;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .imagem{
            flex: 40%;
            height: 100%;
            img{
                margin: 50px 0 50px 0;
                border-radius: 50%;
                width: 80%;
                height: 80%;
            }
        }
    }
    #sobre{
        display: flex;
        margin-top: 100px;
        padding-bottom: 20px;
        text-align: center;
        height: 100%;
        background-color: $c3;
        #resumo{
            text-align: center;
            width: 50%;
            h2{
                font-size: 3rem;
                margin-bottom: 70px;
                text-transform: uppercase;
            }
            p{
                width: 90%;
                text-align: justify;
                padding: 20px;
            }
            #btt-cv{
                margin-top: 20px;
                padding: 15px;
                background-color: $c3;
                border: 1px solid $borda;
                border-radius: 10px;
                &:hover{
                    background-color: $c2;
                    transition: 0.3s;
                }
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $pale-slate;
                    font-weight:bolder;
                }
            }
        }
        #resumo2{
            width: 50%;
            button{
                background-color: $c3;
                font-size:1.5rem ;
                margin: 5px;
                border: none;
                h3{
                    padding: 10px;
                    border-radius: 7px;
                }
                #s{
                    background-color: $c2;
                }
                #h{
                    background-color: $c3;
                }
            }
            ul{
                margin-left:50px;
                li{
                    color: #fff;
                }
            }
            #tt1{
                text-align: left;
            }
            #tt2{
                text-align: left;
                display: none;
            }
        }
    }

    #projetos{//ajustando a seção projetos
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 150px;
        height: 100%;
        p{
            width: 80%;
            padding: 20px;
        }

        h2{
            font-size: 3rem;
            margin-bottom: 70px;
            text-transform: uppercase;
        }

        #projeto{//essa é a configuração padrão dos projetos
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            margin: auto;
            margin-top: 5%;
            padding: 10px 0 0 0;
            background-color: $c3;
            border: 1px solid $c2;
            border-radius: 5px;
            h3{
                color: #fff;
            }
            &:hover{
                border: 1px solid $astral;
            }
            #tt{
                padding: 20px;
            }
        }
    }

    #contato{
        display: flex;
        flex-direction: column;
        background-color: $c3;
        margin-top: 100px;
        align-items: center;
        justify-content: center;
        p{
            width: 80%;
            padding: 20px;
        }
        #links{
            a{
                padding: 10px;
                text-decoration: none;
            }
        }
        #email{
            color: $astral;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.rodape{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $c2;
}

//esse foi a estilização do site