/*paleta de cores da foto escolhida*/
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ccc8c9;
}
body * h1, body h2, body h3, body h4 {
  color: #fff;
  text-transform: uppercase;
}
body * p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-indent: 2em;
  color: #7D7F8A;
}

nav, header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  z-index: 1000;
  background-color: #252734;
}
nav h2, header h2 {
  margin-left: 20px;
  display: inline-block;
  flex: 40%;
}
nav ul, header ul {
  display: flex;
}
nav ul li, header ul li {
  list-style-type: none;
}
nav ul li a, header ul li a {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
  color: #7D7F8A;
}
nav ul li a:hover, header ul li a:hover {
  color: #ccc8c9;
}
nav ul #contact, header ul #contact {
  color: #7D7F8A;
  border: 1px solid #3B3D49;
  border-radius: 10px;
}
nav ul #contact:hover, header ul #contact:hover {
  background-color: #2A2C39;
  color: #fff;
}

main {
  font-size: 1.5rem;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  background-color: #252734;
}
main #inicio {
  display: flex;
  margin-top: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
main #inicio .headline {
  flex: 50%;
}
main #inicio .headline h1 {
  margin-top: -20px;
  font-size: 5rem;
  text-transform: none;
}
main #inicio .headline p {
  text-indent: 2em;
  text-align: justify;
  padding: 20px;
}
main #inicio .headline a {
  text-decoration: none;
  color: #3c84a4;
}
main #inicio .headline a:hover {
  text-decoration: underline;
}
main #inicio .imagem {
  flex: 40%;
}
main #inicio .imagem img {
  border-radius: 50%;
  margin: 50px 0 50px 0;
  width: 80%;
  height: 50%;
}
main #sobre {
  display: flex;
  margin-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  height: 100%;
  background-color: #2A2C39;
}
main #sobre #resumo {
  text-align: center;
  width: 50%;
}
main #sobre #resumo h2 {
  font-size: 3rem;
  margin-bottom: 70px;
  text-transform: uppercase;
}
main #sobre #resumo p {
  width: 90%;
  text-align: justify;
  padding: 20px;
}
main #sobre #resumo #btt-cv {
  margin-top: 20px;
  padding: 15px;
  background-color: #2A2C39;
  border: 1px solid #3B3D49;
  border-radius: 10px;
}
main #sobre #resumo #btt-cv:hover {
  background-color: #252734;
  transition: 0.3s;
}
main #sobre #resumo #btt-cv a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ccc8c9;
  font-weight: bolder;
}
main #sobre #resumo2 {
  width: 50%;
}
main #sobre #resumo2 button {
  background-color: #2A2C39;
  font-size: 1.5rem;
  margin: 5px;
  border: none;
}
main #sobre #resumo2 button h3 {
  padding: 10px;
  border-radius: 7px;
}
main #sobre #resumo2 button #s {
  background-color: #252734;
}
main #sobre #resumo2 button #h {
  background-color: #2A2C39;
}
main #sobre #resumo2 ul {
  margin-left: 50px;
}
main #sobre #resumo2 ul li {
  color: #fff;
}
main #sobre #resumo2 #tt1 li {
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: left;
}
main #sobre #resumo2 #tt2 {
  text-align: left;
  display: none;
}
main #sobre #resumo2 #tt2 li {
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: left;
}
main #projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 150px;
  height: 100%;
}
main #projetos p {
  width: 80%;
  padding: 20px;
}
main #projetos h2 {
  font-size: 3rem;
  margin-bottom: 70px;
  text-transform: uppercase;
}
main #projetos #projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  padding: 10px 0 0 0;
  background-color: #2A2C39;
  border: 1px solid #252734;
  border-radius: 5px;
}
main #projetos #projeto h3 {
  color: #fff;
}
main #projetos #projeto:hover {
  border: 1px solid #3c84a4;
}
main #projetos #projeto #tt {
  padding: 20px;
}
main #contato {
  display: flex;
  flex-direction: column;
  background-color: #2A2C39;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}
main #contato p {
  text-align: center;
  width: 80%;
  padding: 20px;
}
main #contato #links a {
  padding: 10px;
  text-decoration: none;
}
main #contato #email {
  color: #3c84a4;
  text-decoration: none;
}
main #contato #email:hover {
  text-decoration: underline;
}

.rodape {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #252734;
}/*# sourceMappingURL=index.css.map */