@media screen and (max-width:700px){
    body p,#tt{
        text-align: justify;
    }
    nav{
        padding: 0;
        flex: none;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    header nav #menu{
        display: none;
    }
    #inicio,#sobre{
        flex-direction: column;
    }
    main #projetos .projeto{
        width: 100%;

    }
    main #sobre #resumo{
        width: 100%;
    }
    main #sobre #resumo2{
        margin-top: 50px;
        width: 100%;
    }
    *p{
        text-align:justify;
    }
}