@media screen and (max-width:700px){
    body p,#tt{
        text-align: justify;
    }
    nav{
        padding: 0;
        flex: none;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    header nav ul{
        display: none;
    }
    nav menu a:hover{
        border-bottom: 1px #ccc8c9;
    }
    #inicio,#sobre{
        flex-direction: column;
    }
    main #projetos .projeto{
        width: 100%;
    }
    *p{
        text-align:justify;
    }
}